* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.w-full {
    width: 100%;
}

// Header Section
header {
    & .banner {
        height: 60px;
        background-color: #E74D2E;
        & img {
            width: 100%;
        }
    }

    & .header-tools {
        height: 68px;
        display: flex;
        align-items: center;
        padding: 0 16px;


        & .right {
            height: 100%;
            gap: 16px;
            flex: 1;
            display: flex;
            align-items: center;
            & .search {
                width: 50%;
                &-form {
                    width: 100%;
                   background-color: #e6e6e6; 
                   padding: 8px 16px;
                   border-radius: 8px;
                   border: 1px solid #bababa;
                   & > * {
                    background-color: transparent;
                    border: none;
                    outline: none;
                   }
                }
            }
        }

        & .left {
            height: 100%;
            background-color: green;
            width: 200px;
        }
    }

    & nav.navigation {
        height: 40px;
        // border-bottom: 1px solid #e6e6e6;
        border-top: 1px solid #E74D2E;
        box-shadow: 0 2px 2px rgba(179, 179, 179, 0.7);
    }
}
// End Header Section


// Main
main {
    & .story {
        height: 155.72px;
    }

    & .carousel {
        height: 400px;
        background-color: #e6e6e6;
    }

    & .services {
        height: 95.86px;
    }

    & .perfect-sujest {
        height: 300px;
        background-color: #EF3B50;
    }
}
// End Main